extends layout

block content
  h1.text-center= title
  ul
    each album, i in albums
      h3= `Album ${album.id}: ${album.title}`
      a(href='/albums/' + album.id + '/photos') View photos..
      hr