<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <title>Exam Design</title>
</head>

<body>
  <script>AOS.init();</script>

  <!-- Header -->
  <header id="showcase" class="grid">
    <div class="bg-image"></div>
    <div class="content-wrap">
      <h1 data-aos="zoom-in" data-aos-duration="300">Welcome To My Website</h1>
      <p data-aos="fade-up" data-aos-duration="1500" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="1500">Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus optio, magnam dignissimos quas sapiente quod ex perferendis deserunt omnis atque?</p>
      <a href="#section-b" class="btn" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="1500">See More</a>
    </div>
  </header>

  <!-- Main -->
  <main id="main">
    <!-- Section A -->
    <section id="section-a" class="grid">
      <div class="content-wrap">
        <h2 class="content-title">This Is My Trends Exam</h2>
        <div class="content-text">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam atque temporibus perferendis illo iste labore architecto deserunt praesentium eveniet doloribus itaque corporis eum laudantium dolorem alias doloremque ad ducimus vel a vero, harum veritatis! Esse adipisci, maiores quisquam odit, aliquid suscipit voluptate quasi voluptas tempora rerum, cum eveniet atque? Quam?</p>
        </div>
      </div>
    </section>

    <!-- Section B -->
    <section id="section-b" class="grid">
      <ul>
        <li data-aos="flip-down" data-aos-duration="800">
          <div class="card">
            <img src="pics/1.jpg" alt="">
            <div class="card-content">
              <h3 class="card-title">Posts</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis delectus, animi et itaque exercitationem aut voluptatum inventore unde doloribus non!</p>
            </div>
          </div>
        </li>
        <li data-aos="flip-down" data-aos-duration="900">
          <div class="card">
            <img src="pics/2.jpg" alt="">
            <div class="card-content">
              <h3 class="card-title">Posts</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis delectus, animi et itaque exercitationem aut voluptatum inventore unde doloribus non!</p>
            </div>
          </div>
        </li>
        <li data-aos="flip-down" data-aos-duration="1000">
          <div class="card">
            <img src="pics/3.jpg" alt="">
            <div class="card-content">
              <h3 class="card-title">Posts</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis delectus, animi et itaque exercitationem aut voluptatum inventore unde doloribus non!</p>
            </div>
          </div>
        </li>
      </ul>
    </section>

    <!-- Section C -->
    <section id="section-c" class="grid">
      <div class="content-wrap">
        <h2 class="content-title">Chuchucuh</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod dicta fugit repellendus reiciendis corrupti assumenda unde odio distinctio, porro adipisci.</p>
      </div>
    </section>

    <!-- Section D -->
    <section id="section-d" class="grid">
      <div class="box">
        <h2 class="content-title">Contact Me</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore similique praesentium eos ab? Impedit exercitationem adipisci amet possimus nostrum fugiat.</p>
        <p>migsexam@trends.com.ph</p>
      </div>
      <div class="box">
        <h2 class="content-title">About Me</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure cupiditate recusandae dolores omnis mollitia non illum et repellat exercitationem eveniet!</p>
      </div>
    </section>

    <!-- Section E -->
    <section id="section-e" class="grid">
      <div class="content-wrap">
        <h2 class="content-title">Social</h2>
        <a href="https://facebook.com/migsladisla" target="_blank"><i class="social-icons fab fa-facebook-f" style="color: #3b5998"></i></a>
        <a href="https://twitter.com/migsladisla" target="_blank"><i class="social-icons fab fa-twitter" style="color: #00acee "></i></a>
        <a href="https://linkedin.com/in/migsladisla/" target="_blank"><i class="social-icons fab fa-linkedin-in" style="color: #0077B5"></i></a>
        <a href="https://github.com/migsladisla" target="_blank"><i class="social-icons fab fa-github" style="color: #9cdaf1  "></i></a>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure cupiditate recusandae dolores omnis mollitia non illum et repellat exercitationem eveniet!</p>
      </div>
    </section>
  </main>

  <!-- Footer -->
  <footer id="main-footer" class="grid">
    <div>&copy; Juan Miguel Ladisla. All Rights Reserved | Trends and Technologies</div>
  </footer>
</body>
</html>

<script src="https://code.jquery.com/jquery-3.4.0.min.js" integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
