extends layout

block content
  h1.text-center= title
  ul
    each post, i in userPosts
      h3= `Post ${post.id}: ${post.title}`
      p= post.body
      a(href='/posts/' + post.id + '/comments') View comments..
      hr