/* Main Styles */
html, body {
  margin: 0;
  font-family: 'Questrial', sans-serif;
  font-size: 1.1em;
  color: #fff;
  background: #cccccc;
  line-height: 1.5;
  text-align: center;
  height: 100%;
}

img {
  display: block;
  width: 100%;
  height: auto;
  transition: transform 1s, filter 0.5s ease-in-out;
  filter: brightness(75%);
}

img:hover {
  filter: brightness(100%);
}

.social-icons {
  padding: 0.4em 0.4em;
  font-size: 2.5em;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.social-icons:hover {
  transform: scale(1.2);
}

h1, h2, h3 {
  margin: 0;
  padding: 1em 0;
}

p {
  margin: 0;
  padding: 1em 0;
}

.btn {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  padding: 0.7em 1em;
  margin-top: 2em;
  color: #fff;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 6px;
}

.btn:hover {
  background: #dadada41;
  color: #a7ddff;
  border-radius: 50px;
  border-color: #a7ddff;
  transition: all 0.1s ease 0s;
}

.btn-redirect {
  cursor: pointer;
  font-size: 0.8em;
  letter-spacing: 1px;
  display: inline-block;
  text-decoration: none;
  padding: 0.5em 1.5em;
  color: #fff;
  background: #838484;
  border: 1px solid #fff;
  border-radius: 50px;
}

.btn-redirect:hover {
  background: #bdbdbd;
  color: #fff;
  border-radius: 6px;
  border-color: #bdbdbd;
  transition: all 0.4s ease 0s;
}

/* Header */

#showcase {
  height: 100%;
  color: #fff;
  text-align: left;
  letter-spacing: 1.5px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

#showcase .bg-image {
  position: absolute;
  background: #838484 url('https://images.unsplash.com/photo-1541493132330-2f0bca8cb7b9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1575&q=80');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  filter: brightness(65%);
}

#showcase h1 {
  padding-top: 120px;
  padding-bottom: 0;
}

.header-text {
  letter-spacing: 0.5px;
}

#showcase .content-wrap,
#section-a .content-wrap {
  padding: 0 1.5em;
}

/* Section A */

#section-a {
  background: #eaeaea;
  color: #838484;
  padding-bottom: 2em;
}

/* Section B */

#section-b {
  padding: 2em 1em 2em;
}

#section-b ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#section-b li {
  margin-bottom: 1em;
  background: #fff;
  color: #838484;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#section-b li:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-content {
  padding: 1em;
}

/* Section C */

#section-c {
  background: rgb(255, 255, 255);
  color: #757575;
  padding: 2em;
  text-align: left;
}

/* Section D */

#section-d .box{
  padding: 2em;
  color: #fff;
}

#section-d .box:first-child {
  background: #2690d4;
}

/* Section E */

#section-e {
  background: rgb(250, 250, 250);
  color: #838484;
  padding: 2em;
}

#section-e .content-title {
  letter-spacing: 2px;
}

/* Footer */

#main-footer {
  padding: 1.6em;
  background: rgb(238, 238, 238);
  color: rgb(109, 109, 109);
  text-align: center;
  font-size: 0.7em;
}

#main-footer a {
  color: #2690d4;
  text-decoration: none;
}

/* Media Queries */

@media(min-width: 700px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
  }

  #section-a .content-text {
    columns: 2;
    column-gap: 2em
  }

  #section-a .content-text p {
    padding-top: 0;
  }

  .content-wrap, 
  #section-b ul {
    grid-column: 2/4;
  }

  .box {
    grid-column: span 2;
  }

  #main-footer div {
    grid-column: span 4;
  }

  #section-b ul {
    display: flex;
    justify-content: space-around;
  }

  #section-b li {
    width: 31%;
  }
}

@media(min-width: 1366px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
  }

  #section-a .content-text {
    columns: 2;
    column-gap: 2em
  }

  #section-a .content-text p {
    padding-top: 0;
  }

  .content-wrap, 
  #section-b ul {
    grid-column: 2/4;
  }

  .box, #main-footer div {
    grid-column: span 4;
  }

  #section-b ul {
    display: flex;
    justify-content: space-around;
  }
}
